# Environment variables for the application
# Copy this file to .env and edit the values to match your environment

# MongoDB
# Edit this to point to your MongoDB instance
MONGO_URL = 'mongodb://127.0.0.1:27017/whichCard'

# MongoDB instance for testing
MONGO_URL_TEST = 'mongodb://127.0.0.1:27017/whichCardTest'